<div id="footer__outer">
    <div id="footer__inner">
        <div id="footer__ff">
            <p>Developed By <span>Aman Patel</span></p>
        </div>
        <div id="footer__ss">
            <p>All Rights are Reserved</p>
        </div>
    </div>
</div>