#navbar__outer {
    background: #161616;
    padding: 8px 14px;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #fff;
}

#navbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo__text a {
    text-decoration: none;
    color: #000;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

#logo__text a span {
    font-size: 2.8rem;
    color: #e1351f;
}